.user {
    display: block;
    height: 80px;
    width: 300px;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 10px auto;
}

.avatar {
    float: left;
}

.name {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.right_side_name {
    margin-top: 12px;
}

.login_button {
    background-color: #666;
    border: none;
    color: white;
    font-size: 1em;
    display: block;
    margin: 3px auto;
    cursor: pointer;
}