.outer_box {
    width: 100%;
    max-width: 590px;
    position: relative;
    padding: 10px;
    display: flex;
    margin: 0 auto;
    border: 1px solid #dad7d7;
    border-radius: 3px;
}

.question {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
